html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top {
    margin: 20px;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;

}

.m-b-md {
    margin-bottom: 30px;
}

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 25px 100px; /* bottom = footer height */
}

footer {
    position: relative;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#eee;
    text-align:center;
    padding:5px;
}
/* End Sticky Footer */

.hr35 {
    width: 35%;
}

.navlinks > li {
    display: inline;
    list-style: none;
}

img {
    padding: 15px;
}


.error {
    color:red;
    margin:0;
    margin-top:5px;
    padding:0;
    list-style-type:none;
}


.flash_message1 {
    background-color: #69f;
    color: #fff;
    text-align: center;
    font-weight: 400;
}
.flash_message2 {
    background-color: #69f;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.info {
    font-size:smaller;
}

.weaker {
    font-weight: lighter;
}

.stronger {
    font-weight: bolder;
}
